s {
    text-decoration: none!important;
    transition: .2s cubic-bezier(.25,.46,.45,.94) color,.2s cubic-bezier(.25,.46,.45,.94) background
}

 s * {
    transition: .35s cubic-bezier(.25,.46,.45,.94) opacity
}

 s:not(:hover) {
    color: transparent!important;
    background: #000!important
}

 s:not(:hover) * {
    opacity: 0!important
}

 s:not(:hover), s:not(:hover) * {
    border: none!important
}
abbr {
    text-decoration: none;
  }